# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
/docs/
/lib/
.github/

# Dotenv file
.env

# dependencies
/app/node_modules/
/app/.pnp
/app/.pnp.*
/app/.yarn/*
/app/!.yarn/patches
/app/!.yarn/plugins
/app/!.yarn/releases
/app/!.yarn/versions

# testing
/app/coverage

# next.js
/app/.next/
/app/out/

# production
/app/build

# misc
/app/.DS_Store
/app/*.pem

# debug
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/app/.env

/SolidityFlattery
# vercel
/app/.vercel
/app/package-lock.json

# typescript
/app/*.tsbuildinfo
/app/next-env.d.ts



# Graph CLI generated artifacts
/triplea/build/
/triplea/generated/

# Dependency directories
/triplea/node_modules/
/triplea/jspm_packages/

# Logs
/triplea/logs
/triplea/*.log
/triplea/npm-debug.log*
/triplea/yarn-debug.log*
/triplea/yarn-error.log*

# Optional npm cache directory
/triplea/.npm

# Optional eslint cache
/triplea/.eslintcache

# dotenv environment variables file
/triplea/.env

# Testing
/triplea/coverage
/triplea/coverage.json

# Typechain
/triplea/typechain
/triplea/typechain-types

# Hardhat files
/triplea/cache
/triplea/package-lock.json

zkout/

/agent_server/.env
/agent_server/Cargo.lock
/agent_server/target/