# Compiler files
/contracts/cache/
/contracts/out/

# Ignores development broadcast logs
/contracts/!/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/

# Docs
/contracts/docs/
/contracts/lib/
/contracts/.github/

.github/
# Dotenv file
/contracts/.env

# dependencies
/triplea_app/node_modules/
/triplea_app/.pnp
/triplea_app/.pnp.*
/triplea_app/.yarn/*
/triplea_app/!.yarn/patches
/triplea_app/!.yarn/plugins
/triplea_app/!.yarn/releases
/triplea_app/!.yarn/versions

# testing
/triplea_app/coverage

# next.js
/triplea_app/.next/
/triplea_app/out/

# production
/triplea_app/build

# misc
/triplea_app/.DS_Store
/triplea_app/*.pem

# debug
/triplea_app/npm-debug.log*
/triplea_app/yarn-debug.log*
/triplea_app/yarn-error.log*
/triplea_app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/triplea_app/.env

/contracts/SolidityFlattery
# vercel
/triplea_app/.vercel
/triplea_app/package-lock.json

# typescript
/triplea_app/*.tsbuildinfo
/triplea_app/next-env.d.ts



# Graph CLI generated artifacts
/triplea_subgraph/build/
/triplea_subgraph/generated/

# Dependency directories
/triplea_subgraph/node_modules/
/triplea_subgraph/jspm_packages/

# Logs
/triplea_subgraph/logs
/triplea_subgraph/*.log
/triplea_subgraph/npm-debug.log*
/triplea_subgraph/yarn-debug.log*
/triplea_subgraph/yarn-error.log*

# Optional npm cache directory
/triplea_subgraph/.npm

# Optional eslint cache
/triplea_subgraph/.eslintcache

# dotenv environment variables file
/triplea_subgraph/.env

# Testing
/triplea_subgraph/coverage
/triplea_subgraph/coverage.json

# Typechain
/triplea_subgraph/typechain
/triplea_subgraph/typechain-types

# Hardhat files
/triplea_subgraph/cache
/triplea_subgraph/package-lock.json

zkout/

/agent_server/.env
/agent_server/Cargo.lock
/agent_server/target/