@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html {
  background-color: #e8e8e8;
}

/* .infinite-scroll-component__outerdiv {
  width: 100%;
  display: flex;
}  */
